In [1]:
import pandas as pd
import chart_studio.plotly as py
import cufflinks as cf
cf.go_offline(connected=True)

In [20]:
PATH = "../../Data/sheet_season_csv/"
personal_pitcher_2016 = pd.read_csv(PATH + "2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2016.csv", encoding='CP949')
personal_pitcher_2017 = pd.read_csv(PATH + "2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2017.csv", encoding='CP949')
personal_pitcher_2018 = pd.read_csv(PATH + "2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2018.csv", encoding='CP949')
personal_pitcher_2019 = pd.read_csv(PATH + "2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2019.csv", encoding='CP949')
personal_pitcher_2020 = pd.read_csv(PATH + "2020빅콘테스트_스포츠투아이_제공데이터_개인투수_2020.csv", encoding='CP949')

In [34]:
personal_pitcher_2016.head(20)

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,RELIEF_CK,CG_CK,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20160401HHLG0,20160401,LG,HH,0,B,60146,0,1,0,...,3,0,0,0,0,0,0,0.000000,1.000000,1.50
1,20160401HHLG0,20160401,LG,HH,0,B,61891,0,1,0,...,1,0,0,0,0,0,0,0.000000,1.800000,1.50
2,20160401HHLG0,20160401,LG,HH,0,B,62146,0,1,0,...,0,0,0,0,0,0,0,0.000000,3.000000,0.00
3,20160401HHLG0,20160401,LG,HH,0,B,62698,1,0,0,...,4,1,0,0,0,4,4,0.818182,1.588235,3.75
4,20160401HHLG0,20160401,HH,LG,0,T,65764,0,1,0,...,1,0,0,0,0,1,1,0.000000,1.500000,0.00
5,20160401HHLG0,20160401,LG,HH,0,B,70839,0,1,0,...,1,0,0,0,0,0,0,0.000000,0.000000,0.00
6,20160401HHLG0,20160401,LG,HH,0,B,71118,0,1,0,...,1,0,0,0,0,0,0,0.000000,0.000000,0.00
7,20160401HHLG0,20160401,HH,LG,0,T,72447,0,1,0,...,2,0,0,0,0,0,0,0.000000,0.500000,1.50
8,20160401HHLG0,20160401,HH,LG,0,T,73801,1,0,0,...,4,0,0,0,0,3,3,1.500000,1.500000,1.50
9,20160401HHLG0,20160401,HH,LG,0,T,74731,0,1,0,...,1,0,0,0,0,1,0,0.000000,6.000000,0.00
10,20160401HHLG0,20160401,HH,LG,0,T,74857,0,1,0,...,2,0,0,0,0,0,0,0.000000,0.000000,0.00
11,20160401HHLG0,20160401,HH,LG,0,T,99737,0,1,0,...,1,0,1,0,0,0,0,1.000000,1.200000,0.00
12,20160401HTNC0,20160401,NC,HT,0,B,62966,0,1,0,...,2,0,0,0,0,0,0,0.000000,1.000000,0.00
13,20160401HTNC0,20160401,NC,HT,0,B,63938,1,0,0,...,5,1,2,0,0,4,4,1.200000,1.125000,2.40
14,20160401HTNC0,20160401,HT,NC,0,T,66628,0,1,0,...,2,0,0,0,0,1,1,1.000000,2.000000,1.50
15,20160401HTNC0,20160401,NC,HT,0,B,75867,0,1,0,...,0,0,0,0,0,0,0,6.000000,1.500000,0.00
16,20160401HTNC0,20160401,HT,NC,0,T,77637,1,0,0,...,7,1,0,0,0,4,4,0.000000,1.588235,2.00
17,20160401HTNC0,20160401,NC,HT,0,B,78352,0,1,0,...,3,0,0,0,0,0,0,0.000000,0.000000,0.00
18,20160401KTSK0,20160401,SK,KT,0,B,62056,0,1,0,...,0,0,0,0,0,0,0,0.000000,0.000000,3.00
19,20160401KTSK0,20160401,KT,SK,0,T,64001,0,1,0,...,0,0,0,0,0,0,0,0.000000,0.000000,0.00

## Data definitions
> G_ID : 게임키 / GDAY_DS : 일자 / T_ID : 팀코드 / VS_T_ID : 상대팀코드 / HEADER_NO : 더블헤드코드<BR/>
> TB_SC : 초말 / P_ID : 선수코드 / START_CK : 선발 / RELIEF_CK : 구원 / CG_CK : 완투 / QUIT_CK : 종료<BR/>
> WLS : 결과 / HOLD : 홀드 / INN2 : 이닝*3 / BF : 투구수 / PA : 타자 / AB : 타수 / HIT :안타 / H2 : 2루타<BR/>
> H3 : 3루타 / HR: 홈런 / SB : 도루 / CS : 도루 실패 / SH : 희타(진루) / SF : 희비(득점) / BB : 4구 / IB : 고4 <BR/>
> HP : 사구 / KK : 삼진 / GD' : 병살타 / WP : 폭투 / BK : 보크 / ERR : 실책 / R : 실점 / ER : 자책점<BR/>
> P_WHIP_RT : 득점권WHIP / P2_WHIP_RT : 2점차 WHIP / CB_WHIP_RT :345번타자 WHIP<BR/>
> WHIP(Walks Plus Hits Divided by Innings Pitched, 이닝당 안타 볼넷 허용률)

In [33]:
personal_pitcher_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6413 entries, 0 to 6412
Data columns (total 38 columns):
G_ID          6413 non-null object
GDAY_DS       6413 non-null int64
T_ID          6413 non-null object
VS_T_ID       6413 non-null object
HEADER_NO     6413 non-null int64
TB_SC         6413 non-null object
P_ID          6413 non-null int64
START_CK      6413 non-null int64
RELIEF_CK     6413 non-null int64
CG_CK         6413 non-null int64
QUIT_CK       6413 non-null int64
WLS           6413 non-null object
HOLD          6413 non-null int64
INN2          6413 non-null int64
BF            6413 non-null int64
PA            6413 non-null int64
AB            6413 non-null int64
HIT           6413 non-null int64
H2            6413 non-null int64
H3            6413 non-null int64
HR            6413 non-null int64
SB            6413 non-null int64
CS            6413 non-null int64
SH            6413 non-null int64
SF            6413 non-null int64
BB            6413 non-null int64
IB            6413 non-null int64
HP            6413 non-null int64
KK            6413 non-null int64
GD            6413 non-null int64
WP            6413 non-null int64
BK            6413 non-null int64
ERR           6413 non-null int64
R             6413 non-null int64
ER            6413 non-null int64
P_WHIP_RT     6413 non-null float64
P2_WHIP_RT    6413 non-null float64
CB_WHIP_RT    6413 non-null float64
dtypes: float64(3), int64(30), object(5)
memory usage: 1.9+ MB

In [35]:
personal_pitcher_2016["G_ID"].value_counts().max()

16

In [42]:
personal_pitcher_2016["G_ID"].value_counts().mean()

8.906944444444445

In [62]:
personal_pitcher_2016.describe()

,GDAY_DS,HEADER_NO,P_ID,START_CK,RELIEF_CK,CG_CK,QUIT_CK,HOLD,INN2,BF,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
count,6.413000e+03,6413.000000,6413.000000,6413.000000,6413.000000,6413.000000,6413.000000,6413.000000,6413.000000,6413.000000,...,6413.000000,6413.000000,6413.000000,6413.000000,6413.000000,6413.000000,6413.000000,6413.000000,6413.000000,6413.000000
mean,2.016068e+07,0.003275,70859.237486,0.224544,0.775456,0.002807,0.224544,0.091845,5.990800,34.907999,...,1.519258,0.182754,0.109309,0.008888,0.022766,1.259005,1.151411,1.077816,1.120363,1.322982
std,1.790593e+02,0.075893,8505.054314,0.417314,0.417314,0.052909,0.417314,0.288829,5.915875,32.583947,...,1.819733,0.449546,0.349756,0.097131,0.151246,1.789656,1.677527,1.939782,1.860745,2.100942
min,2.016040e+07,0.000000,60105.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.016052e+07,0.000000,63959.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.016070e+07,0.000000,71801.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.000000,21.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.016082e+07,0.000000,76118.000000,0.000000,1.000000,0.000000,0.000000,0.000000,7.000000,44.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,1.500000,1.500000,1.800000
max,2.016101e+07,2.000000,99737.000000,1.000000,1.000000,1.000000,1.000000,1.000000,27.000000,139.000000,...,13.000000,4.000000,3.000000,2.000000,2.000000,13.000000,13.000000,24.000000,21.000000,24.000000

In [83]:
personal_pitcher_2016['WLS'].value_counts()

     4648
L     713
W     713
S     325
D      14
Name: WLS, dtype: int64

In [84]:
personal_pitcher_2016[personal_pitcher_2016['WLS']=="D"].head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,RELIEF_CK,CG_CK,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
316,20160409WOOB0,20160409,OB,WO,0,B,73241,0,1,0,...,1,0,0,0,0,0,0,0.0,1.000000,0.00
318,20160409WOOB0,20160409,WO,OB,0,T,76350,0,1,0,...,0,0,0,0,0,0,0,0.0,0.000000,0.00
1527,20160515KTNC0,20160515,NC,KT,0,B,78366,0,1,0,...,1,0,0,0,0,0,0,1.5,3.000000,0.00
1528,20160515KTNC0,20160515,KT,NC,0,T,99563,0,1,0,...,2,0,1,0,0,0,0,0.0,0.333333,0.75
1717,20160521KTHH0,20160521,HH,KT,0,B,79764,0,1,0,...,3,0,0,0,0,1,1,1.5,1.000000,3.00

In [118]:
game_wls = personal_pitcher_2016.loc[
    (personal_pitcher_2016['WLS'] == "L") | (personal_pitcher_2016['WLS'] == "W"),
    ['G_ID','T_ID','VS_T_ID','WLS']]
game_wls.tail()

               G_ID T_ID VS_T_ID WLS
6389  20161008SSSK0   SS      SK   L
6397  20161009KTNC0   KT      NC   W
6400  20161009KTNC0   NC      KT   L
6403  20161009WOLT0   WO      LT   L
6406  20161009WOLT0   LT      WO   W

In [101]:
start_pitcher_2016 = personal_pitcher_2016[personal_pitcher_2016['START_CK']==1]
start_pitcher_2016 = start_pitcher_2016.set_index('G_ID')
start_pitcher_2016.head()

,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,RELIEF_CK,CG_CK,QUIT_CK,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
G_ID,,,,,,,,,,,,,,,,,,,,,
20160401HHLG0,20160401,LG,HH,0,B,62698,1,0,0,0,...,4,1,0,0,0,4,4,0.818182,1.588235,3.75
20160401HHLG0,20160401,HH,LG,0,T,73801,1,0,0,0,...,4,0,0,0,0,3,3,1.500000,1.500000,1.50
20160401HTNC0,20160401,NC,HT,0,B,63938,1,0,0,0,...,5,1,2,0,0,4,4,1.200000,1.125000,2.40
20160401HTNC0,20160401,HT,NC,0,T,77637,1,0,0,0,...,7,1,0,0,0,4,4,0.000000,1.588235,2.00
20160401KTSK0,20160401,KT,SK,0,T,66049,1,0,0,0,...,2,0,0,0,0,4,4,3.000000,1.750000,0.00

In [1]:
draw_game_id = personal_pitcher_2016.loc[personal_pitcher_2016['WLS']=="D",['G_ID']]
draw_game_id = draw_game_id['G_ID'].tolist()
draw_game_id

NameError: name 'personal_pitcher_2016' is not defined

In [116]:
start_pitcher_2016 = start_pitcher_2016.drop(draw_game_id)

KeyError: "['20160409WOOB0' '20160409WOOB0' '20160515KTNC0' '20160515KTNC0'\n '20160521KTHH0' '20160521KTHH0' '20160531HTLG0' '20160531HTLG0'\n '20160623HHNC0' '20160623HHNC0' '20160709SSHH0' '20160709SSHH0'\n '20160921NCLG0' '20160921NCLG0'] not found in axis"

In [119]:
start_pitcher_2016.tail()

,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,RELIEF_CK,CG_CK,QUIT_CK,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
G_ID,,,,,,,,,,,,,,,,,,,,,
20161008SSSK0,20161008,SK,SS,0,B,73228,1,0,0,0,...,0,0,0,0,0,0,0,0.0,0.00,0.000000
20161009KTNC0,20161009,NC,KT,0,B,62966,1,0,0,0,...,1,0,0,0,0,2,2,1.5,4.00,6.000000
20161009KTNC0,20161009,KT,NC,0,T,65058,1,0,0,0,...,3,0,0,0,1,3,2,0.6,1.75,1.500000
20161009WOLT0,20161009,WO,LT,0,T,62937,1,0,0,0,...,1,1,0,0,0,2,2,0.0,2.00,4.500000
20161009WOLT0,20161009,LT,WO,0,B,64021,1,0,0,0,...,2,1,0,0,0,3,3,1.5,1.80,0.857143

In [128]:
wls_list = game_wls['WLS'].tolist()
len(wls_list)

1426

In [133]:
start_pitcher_2016['result'] = wls_list
start_pitcher_2016.head()

,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,RELIEF_CK,CG_CK,QUIT_CK,...,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT,result
G_ID,,,,,,,,,,,,,,,,,,,,,
20160401HHLG0,20160401,LG,HH,0,B,62698,1,0,0,0,...,1,0,0,0,4,4,0.818182,1.588235,3.75,W
20160401HHLG0,20160401,HH,LG,0,T,73801,1,0,0,0,...,0,0,0,0,3,3,1.500000,1.500000,1.50,L
20160401HTNC0,20160401,NC,HT,0,B,63938,1,0,0,0,...,1,2,0,0,4,4,1.200000,1.125000,2.40,W
20160401HTNC0,20160401,HT,NC,0,T,77637,1,0,0,0,...,1,0,0,0,4,4,0.000000,1.588235,2.00,L
20160401KTSK0,20160401,KT,SK,0,T,66049,1,0,0,0,...,0,0,0,0,4,4,3.000000,1.750000,0.00,W

In [135]:
start_pitcher_2016 = start_pitcher_2016.reset_index()

### 질문리스트
1. 이긴 팀과 진 팀의 선발투수는 어떻게 다를까?
2. 승리 수가 많은 투수는 어떤 특징을 가질까?
3. 승률이 높은 투수는 어떤 특징을 가질까?

In [140]:
start_pitcher_w = start_pitcher_2016.loc[start_pitcher_2016['result']=="W"]
start_pitcher_w = start_pitcher_w.drop(axis=1,columns=['G_ID','HEADER_NO','VS_T_ID','result','START_CK','RELIEF_CK','CG_CK','QUIT_CK','WLS', 'HOLD'])
start_pitcher_w.head()

,GDAY_DS,T_ID,TB_SC,P_ID,INN2,BF,PA,AB,HIT,H2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20160401,LG,B,62698,18,94,28,25,9,2,...,4,1,0,0,0,4,4,0.818182,1.588235,3.75
2,20160401,NC,B,63938,17,85,25,23,7,2,...,5,1,2,0,0,4,4,1.200000,1.125000,2.40
4,20160401,KT,T,66049,18,106,25,25,7,3,...,2,0,0,0,0,4,4,3.000000,1.750000,0.00
7,20160401,LT,T,65543,18,98,26,21,4,1,...,5,0,0,0,0,0,0,0.000000,1.500000,1.50
8,20160401,OB,T,61240,18,101,23,22,6,0,...,5,1,0,0,0,1,1,1.500000,2.000000,3.00

In [141]:
start_pitcher_l = start_pitcher_2016.loc[start_pitcher_2016['result']=="L"]
start_pitcher_l = start_pitcher_l.drop(axis=1,columns=['G_ID','HEADER_NO','VS_T_ID','result','START_CK','RELIEF_CK','CG_CK','QUIT_CK','WLS', 'HOLD'])
start_pitcher_l.head()

,GDAY_DS,T_ID,TB_SC,P_ID,INN2,BF,PA,AB,HIT,H2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
1,20160401,HH,T,73801,9,57,15,14,5,1,...,4,0,0,0,0,3,3,1.5,1.500000,1.500000
3,20160401,HT,T,77637,18,112,26,22,6,2,...,7,1,0,0,0,4,4,0.0,1.588235,2.000000
5,20160401,SK,B,77829,14,91,26,22,9,0,...,4,0,0,0,0,7,7,1.5,2.357143,1.800000
6,20160401,WO,B,65331,18,90,26,26,9,2,...,5,2,0,0,0,2,1,0.3,1.500000,1.285714
9,20160401,SS,B,76455,18,110,25,21,5,0,...,1,1,0,0,1,4,3,0.6,2.571429,2.400000

In [144]:
import chart_studio.plotly as py
import cufflinks as cf
cf.go_offline(connected=True)

In [198]:
avg_index = list(start_pitcher_w.columns[4:])
avg_index

['INN2',
 'BF',
 'PA',
 'AB',
 'HIT',
 'H2',
 'H3',
 'HR',
 'SB',
 'CS',
 'SH',
 'SF',
 'BB',
 'IB',
 'HP',
 'KK',
 'GD',
 'WP',
 'BK',
 'ERR',
 'R',
 'ER',
 'P_WHIP_RT',
 'P2_WHIP_RT',
 'CB_WHIP_RT']

In [170]:
start_pitcher_w['TB_SC'].value_counts()

B    368
T    345
Name: TB_SC, dtype: int64

In [173]:
print(start_pitcher_w['INN2'].mean())
print(start_pitcher_l['INN2'].mean())

16.936886395511923
13.642356241234221

In [174]:
print(start_pitcher_w['BF'].mean())
print(start_pitcher_l['BF'].mean())

93.13183730715288
84.39691444600281

In [175]:
# 타자
print(start_pitcher_w['PA'].mean())
print(start_pitcher_l['PA'].mean())

23.964936886395513
21.84992987377279

In [176]:
# 타수
print(start_pitcher_w['AB'].mean())
print(start_pitcher_l['AB'].mean())

21.374474053295934
18.817671809256662

In [178]:
start_pitcher_w.head()

,GDAY_DS,T_ID,TB_SC,P_ID,INN2,BF,PA,AB,HIT,H2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20160401,LG,B,62698,18,94,28,25,9,2,...,4,1,0,0,0,4,4,0.818182,1.588235,3.75
2,20160401,NC,B,63938,17,85,25,23,7,2,...,5,1,2,0,0,4,4,1.200000,1.125000,2.40
4,20160401,KT,T,66049,18,106,25,25,7,3,...,2,0,0,0,0,4,4,3.000000,1.750000,0.00
7,20160401,LT,T,65543,18,98,26,21,4,1,...,5,0,0,0,0,0,0,0.000000,1.500000,1.50
8,20160401,OB,T,61240,18,101,23,22,6,0,...,5,1,0,0,0,1,1,1.500000,2.000000,3.00

In [199]:
w_avg = start_pitcher_w.loc[:,avg_index].agg('mean')
l_avg = start_pitcher_l.loc[:,avg_index].agg('mean')

In [214]:
import plotly.graph_objects as go
fig = go.Figure()
fig.add_trace(
    go.Bar(
        x=w_avg.index, 
        y=w_avg, 
        text=w_avg, 
        textposition='auto', 
        texttemplate='%{text:.4f}'
    )
)
fig.add_trace(
    go.Bar(
        x=l_avg.index, 
        y=l_avg, 
        text=l_avg, 
        textposition='auto', 
        texttemplate='%{text:.4f}'
    )
)

fig.update_layout(
    {
        "title": {
            "text": "<b>start pitcher compare to winner and loser </b>",
            "x": 0.5,
            "y": 0.9,
            "font": {
                "size": 15
            }
        },
        "xaxis": {
            "title": "status",
            "showticklabels":True,
            "dtick": "M1",
            "tickfont": {
                "size": 7                
            }
        }
    }
)

fig.show()